{% extends 'csvsites/base.html' %}

{% block content %}
<div class="container">
    <div class="top-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1>Python Study</h1>
        <p>音楽のCSVデータをアップロードするためのサイト</p>
    </div>
    <div>
        <h2>使用技術</h2>
        <ul>
            <li>Django</li>
            <li>MySQL</li>
            <li>BootStrap</li>
        </ul>
        <h2>できたこと</h2>
        <ul>
            <li>CSVのアップロード</li>
            <li>MySQLへのインポート</li>
        </ul>
        <h2>できていないこと</h2>
        <ul>
            <li>CSVデータのバリデーション</li>
            <li>CSVデータの複数行取り込み</li>
            <li>一覧ページのページネーション</li>
            <li>一覧ページのページネーション</li>
        </ul>
    </div>
    <div class="text-center">
        <a href="music"><i class="fas fa-chevron-circle-right"></i>一覧ページはこちら</a>
    </div>


</div>
{% endblock %}


